body {
  max-width: 768px;
  margin: 0 auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.66);
  padding-left: 40px;
}

.header-wrapper { 
  display: flex; 
  gap: 150px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

figure { margin: 25px 0px 0px 0px; }

.header-photo { height: 180px; }

h1, 
h2, 
h3 { 
  padding: 25px 0 15px; 
  font-weight: normal; 
  margin: 0;
}

h3 { padding-bottom: 8px; }

ul {
  margin: 0px;
  padding-left: 16px;
}

p {
  margin: 0;
}

footer { padding: 50px 0 15px; }

.footer-list {
  display: flex;
  list-style: none;
}

.footer-list__item { margin-right: 150px;}

.footer-logo-rss, 
.footer-logo-youtube {
  height: 30px;
}